<div>
  <h1 class="titulo">{{title}}</h1>
  <!-- TARGET -->
  <div class="ejemploTarget" (click)="viewTarget($event)">
    <h2 class="subTitulo">Target</h2>
    <p><strong>TARGET:</strong> Hace referencia al elemento objeto que dispara el evento.</p>
    <p>Para validarlo <span class="aviso">pulsa clic en cualquier parte de la caja</span>, observarás el objeto que disparó el evento: el Target.</p>
  </div>
  <hr/>
  <!-- CURRENTTARGET -->
  <div class="ejemploTarget" (click)="viewCurrentTarget($event)">
    <h2 class="subTitulo">CurrentTarget</h2>
    <p><strong>CurrentTarget:</strong> Hace referencia al elemento cuyo objeto oyente disparó el evento.</p>
    <p>Para validarlo <span class="aviso">pulsa clic en cualquier parte de la caja</span> (DIV) y observarás el objeto cuyo oyente disparó el evento: el CurrentTarget (que en este caso es el DIV)</p>
  </div>
</div>