.ejemploTarget{
    border: 1px solid #a00;
}
.titulo{
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: #0a0;
}
.subTitulo{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    color: #00a;
}

.aviso{
    font-weight: bold;
    color:#f00;
}